@for (item of gasStations(); track item.id; let i = $index) {
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <table class="title-table">
            <tr>
              <td class="title-icon">
                <mat-icon class="icon">{{i+1}}</mat-icon>
              </td>
              <td>
                {{ item.name }}
              </td>
            </tr>
          </table>
        </mat-panel-title>
        <mat-panel-description class="gas-station-description">{{ item.location.city }} {{ item.location.postalCode }}, {{ item.location.address }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ item.location.city }} {{ item.location.postalCode }}, {{ item.location.address }}</p>
      <p>
        @for (price of item.prices; track price.fuelType) {
          {{ price.label }}: {{ price.amount }} €
        }
      </p>
    </mat-expansion-panel>
  </mat-accordion>
}
