.gas-station-description{
  color: gray;
}

.title-table{
  text-align: center;
}

.icon{
  border-radius: 20%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.gold{
  color: gold;
}

.silver{
  color: silver;
}

.bronze{
  color: peru;
}
