@for (state of STATES; track state.id) {
  <app-state-check [state]="state" (enable)="addId($event)" (disable)="subId($event)"></app-state-check>
}
<mat-divider></mat-divider>
<mat-radio-group [(ngModel)]="fuelType">
  <mat-radio-button [value]="'DIE'">Diesel</mat-radio-button>
  <mat-radio-button [value]="'GAS'">Benzin</mat-radio-button>
  <mat-radio-button [value]="'SUP'">Super</mat-radio-button>
</mat-radio-group>
<button matButton="filled" (click)="getGasStations()">Los!</button>
<mat-divider></mat-divider>
<mat-list>
  @for (item of gasStations(); track item.id) {
    <mat-list-item>
      <span matListItemTitle>{{ item.name }}</span>
      <span matListItemLine>{{ item.location.city }} {{ item.location.postalCode }}, {{ item.location.address }}</span>
      <span matListItemLine>
        @for (price of item.prices; track price.fuelType) {
          {{ price.fuelType }}: {{ price.amount }} €
        }
      </span>
    </mat-list-item>
    <mat-divider></mat-divider>
  }
</mat-list>
